@font-face {
    src : url("../font/GmarketSansTTF/GmarketSansTTFMedium.ttf"); 
    font-family: GmarketSansTTF;
    font-display: swap;
}

body {
    background-color: #fafafa;
    margin: 0;
}

a {
    text-decoration-line: none;
}

.background {
    display: flex;
    justify-content: center;
    padding: 61px 40px 39px;
}

.FindCafeteria {
    margin: 0 46px 11px 0;
    font-family: GmarketSansTTF;
    font-size: 37px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.51;
    letter-spacing: normal;
    text-align: left;
    color: #66cc54;
}

.Made-by-MS_Player {
    font-family: GmarketSansTTF;
    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: left;
    color: #8b8b8b;
  }

.Map-API-Kakao-Map-Cafeteria-API-api-data {
    font-family: GmarketSansTTF;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: left;
    color: #717171;
}

.Hackalearn-2021 {
    font-family: GmarketSansTTF;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: left;
    color: #717171;
}

.setting_txt {
    font-family: GmarketSansTTF;
    font-size: 22px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.45;
    letter-spacing: normal;
    text-align: left;
    color: #717171;
}

.setting_menu {
    margin: 15px 2px 0;
    padding: 25px;
    border-radius: 29px;
    background-color: #fff;
}
.mep_setting {
    font-family: GmarketSansTTF;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.8;
    letter-spacing: normal;
    text-align: left;
    color: #717171;
}

.line {
    width: 298.4px;
    height: 0;
    margin: 25px 0;
    opacity: 0.35;
    border: solid 1.5px #707070;
}

.Github {
    font-family: GmarketSansTTF;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.8;
    letter-spacing: normal;
    text-align: left;
    color: #717171;
}

.Bottombar {
    width: 350px;
    bottom: 30px;
    margin: 0 20px;
    padding: 20px;
    border-radius: 35px;
    box-shadow: 3px 3px 20px 0 rgba(157, 157, 157, 0.5);
    background-color: #fff;
}
.Bottombar button {
    border: 0;
    background: none;
    padding: 0 -100px;
    cursor: pointer;
}
.Bottombar button:hover {
    filter: invert(66%) sepia(50%) saturate(470%) hue-rotate(71deg) brightness(98%) contrast(85%);
}