@font-face {
    src : url("../font/GmarketSansTTF/GmarketSansTTFMedium.ttf"); 
    font-family: GmarketSansTTF
}

body {
    background-color: #fafafa;
}

.background {
    display: flex;
    justify-content: center;
    padding: 61px 40px 39px;
}

.search {
    width: 387px;
    height: 53px;
    padding: 20px;
    border-radius: 31px;
    border: 3px solid #ffffff;
    box-shadow: 5px 5px 20px 0 rgba(105, 105, 105, 0.5);
    font-family: GmarketSansTTF, FontAwesome;
    font-style: normal;
    text-decoration: inherit;
    background-color: #ffffff;
    color: #717171;
    text-align: left;
    margin: 30px 20px 0;
    font-size: 17px;
    font-weight: 500;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
}

.Bottombar {
    width: 350px;
    bottom: 30px;
    justify-content: center;
    padding: 20px;
    border-radius: 35px;
    box-shadow: 3px 3px 20px 0 rgba(157, 157, 157, 0.5);
    background-color: #fff;
}
.Bottombar button {
    border:0px;
    background: none;
    padding: 0 -100px;
    cursor: pointer;
}
.Bottombar button:hover {
    filter: invert(69%) sepia(81%) saturate(500%) hue-rotate(60deg) brightness(50%) contrast(92%);
}

.your_locate {
    margin: 20px 5px 15px;
    font-family: GmarketSansTTF;
    font-size: 34px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #717171;
}
.cafeteria_list {
    margin: 20px 5px 15px;
    font-family: GmarketSansTTF;
    font-size: 34px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #66cc54;
}

.cafeteria_list_box {
    margin: 15px 2px;
    padding: 23px 26px 23px 18px;
    border-radius: 22px;
    background-color: #fff;
}

.cafeteria_name {
    margin: 0 0 8px 0;
    font-family: GmarketSansTTF;
    font-size: 28px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.56px;
    text-align: left;
    color: #66cc54;
}

.cafeteria_address {
    margin: 8px 0 20px 0;
    opacity: 0.77;
    font-family: GmarketSansTTF;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.12px;
    text-align: left;
    color: #555;
}

.topic_txt {
    margin: 20px 0 8px 0;
    font-family: GmarketSansTTF;
    font-size: 15px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.15px;
    text-align: left;
    color: #555;
}

.target_person {
    margin: 8px 0 20px 0;
    font-family: GmarketSansTTF;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.24px;
    text-align: left;
    color: #66cc54;
}

.time {
    margin: 6px 0 7px 0;
    font-family: GmarketSansTTF;
    font-size: 26px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.26px;
    text-align: left;
    color: #66cc54;
}

.day_of_the_week {
    margin: 7px 0 3px 0;
    opacity: 0.53;
    font-family: GmarketSansTTF;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.14px;
    text-align: left;
    color: #555;
}

.call {
    width: 54px;
    height: 54px;
    margin: 0 0 0 50px;
    padding: 14px;
    border-radius: 14px;
    background-color: #66cc54;
    border: 0px solid;
}