@font-face {
    src : url("../font/GmarketSansTTF/GmarketSansTTFMedium.ttf"); 
    font-family: GmarketSansTTF
}

.search {
    width: 387px;
    height: 53px;
    padding: 20px;
    border-radius: 31px;
    box-shadow: 5px 5px 20px 0 rgba(105, 105, 105, 0.5);
    font-family: GmarketSansTTF, FontAwesome;
    font-style: normal;
    text-decoration: inherit;
    background-color: #ffffff;
    color: #717171;
    text-align: left;
    margin: 3.3px 0 3.3px 13.8px;
    font-size: 17px;
    font-weight: 500;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
}

.Bottombar {
    width: 348px;
    height: 69px;
    bottom: 38px;
    padding: 40px;
    border-radius: 35px;
    box-shadow: 3px 3px 20px 0 rgba(157, 157, 157, 0.5);
    background-color: #fff;
}