@font-face {
    src : url("../font/GmarketSansTTF/GmarketSansTTFMedium.ttf"); 
    font-family: GmarketSansTTF
}

.search {
    width: 387px;
    height: 53px;
    padding: 20px;
    border-radius: 31px;
    border: 5px solid #ffffff;
    box-shadow: 5px 5px 20px 0 rgba(105, 105, 105, 0.5);
    font-family: GmarketSansTTF, FontAwesome;
    font-style: normal;
    text-decoration: inherit;
    background-color: #ffffff;
    color: #717171;
    text-align: left;
    margin: 30px 20px 8px;
    font-size: 17px;
    font-weight: 500;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
}

.Bottombar {
    width: 350px;
    bottom: 30px;
    margin: 0 20px;
    padding: 20px;
    border-radius: 35px;
    box-shadow: 3px 3px 20px 0 rgba(157, 157, 157, 0.5);
    background-color: #fff;
}
.Bottombar button {
    border:0px;
    background: none;
    padding: 0 -100px;
    cursor: pointer;
}

.slide {
    width: 407px;
    height: 34px;
    margin: 92px 0 0 21px;
    white-space: nowrap;
    overflow-x: auto;
    text-align: center;
}

.slide button {
    height: 34px;
    margin: 0 8px 0 0;
    padding: 8px 19px;
    font-family: GmarketSansTTF;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.18px;
    border-radius: 17px;
    text-align: left;
    box-shadow: 3px 3px 20px 0 rgba(60, 60, 60, 0.16);
    background-color: #fff;
    color: #b1b1b1;
}
.slide button:hover {
    color: #66cc54;
}